In [1]:
# Import dependencies
import pandas as pd
import requests
import pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient()
db=client.NYC
COD = db.COD
#csv file route
file_to_load = "Resources/NYC_COD.csv"
# Read NYCOD File and store into Pandas data frame
df_NYCOD = pd.read_csv(file_to_load)

In [3]:
df_NYCOD

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",M,Other Race/ Ethnicity,5,.,.
1,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",M,White Non-Hispanic,297,22.2,19.8
2,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",M,Asian and Pacific Islander,53,11,13
3,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",F,Other Race/ Ethnicity,.,.,.
4,2007,"Accidents Except Drug Posioning (V01-X39, X43,...",M,Black Non-Hispanic,158,18.5,20.6
...,...,...,...,...,...,...,...
1089,2014,Mental and Behavioral Disorders due to Acciden...,F,Not Stated/Unknown,6,.,.
1090,2014,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",M,Asian and Pacific Islander,28,4.9,5.8
1091,2014,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,90,8.6,7.1
1092,2014,Septicemia (A40-A41),M,Not Stated/Unknown,8,.,.
1093,2014,Septicemia (A40-A41),F,White Non-Hispanic,118,8.3,4.7

In [6]:
records_ = df_NYCOD.to_dict(orient = 'records')
result = db.COD.insert_many(records_ )

In [ ]:
# Nasa Mars News url to be scraped
url= 'https://twitter.com/marswxreport?lang=en'

In [ ]:
# Retrieve webpage with the requests module
tweet_response=requests.get(url)
#print(soup_weather.prettify())

In [ ]:
# Parse the webpage and create BeautifulSoup object
soup_weather= bs(tweet_response.text, 'html.parser')
#print(soup_weather.prettify())

In [ ]:
# Scrape from the html page, the Mars weather tweets by searching the corresponding class ('div') and attibute name (class_) 
# Save it as a variable called mars_weather:
mars_weather= soup_weather.find_all('div', class_= "js-tweet-text-container")

In [ ]:
# Return the latest tweet text (in position 0=latest tweet] 
mars_weather_latest= mars_weather[0].text.strip()
mars_weather_latest

# Mars Facts

In [ ]:
# Visit the Mars Facts webpage here and use Pandas to scrape the table
#containing facts about the planet including Diameter, Mass, etc.

In [ ]:
import lxml

In [ ]:
url ='https://space-facts.com/mars/'

In [ ]:
# Use Pandas function 'read_html' to scrape tabular data from the webpage 
tables = pd.read_html(url)
print(len(tables))

In [ ]:
# Each table is a list of dataframes
tables
#type(tables)

In [ ]:
# Convert the table we need (first one, position 0) into a dataframe
df=tables[0]
df

In [ ]:
# Name the df columns
df.columns = ['Mars Facts','']
df

In [ ]:
# Set the index to the Feature column
df.set_index('Mars Facts', inplace=True)
df

In [ ]:
# Use Pandas function 'to convert the data to a HTML table string (Dataframes as html)
html_table = df.to_html(border=0, justify='inherit')
html_table

In [ ]:
#  Strip unwanted newlines to clean up the table
html_table.replace('\n  ', '')

In [ ]:
print(html_table)

In [ ]:
# Save the table directly to a file
df.to_html('html_table.html', border=0, justify='inherit')

# Mars Hemispheres

In [ ]:
# Import Splinter and set the chromedriver path
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [ ]:
# Show the list of hemisphere dictionaries
hemisphere_image_urls

In [ ]:
# Use the requests library to download and save the image from the `img_url` above
#import shutil
#response = requests.get(image_link, stream=True)
#with open('img_hemisphere.png', 'wb') as out_file:
    #shutil.copyfileobj(response.raw, out_file)

In [ ]:
# Display the image with IPython.display
#from IPython.display import Image
#Image(url='img_hemisphere.png')

# Step 2 - MongoDB and Flask Application

In [ ]:
#Use MongoDB with Flask templating to create a new HTML page that displays all of the 
#information that was scraped from the URLs above:

# scrape_
#Start by converting your Jupyter notebook into a Python script called scrape_mars.py
#with a function called scrape that will execute all of your scraping code from above
#and return one Python dictionary (mars_info) containing all of the scraped data.

#Next (app.py), create a route called /scrape that will import your scrape_mars.py script and
#call your scrape function. Store the return value in Mongo as a Python dictionary.
#Create a root route / (@app.route("/")) that will query your Mongo database and pass
#the mars data into an HTML template to display the data (app.py lines 16-21)).

#Create a template HTML file called index.html that will take the mars data dictionary
# and display all of the data in the appropriate HTML elements.